# Virtual environments
env/
env3*/
venv/
.venv/
__pypackages__/

# Package distribution and build files
*.egg-info/
dist/
/build/
_build/

# IDEs and editors
.vs/
.vscode/
.idea/

# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class
.cache/
.mypy_cache/
.pytest_cache/
/.ruff_cache/


# Test files
tests.log
testing.py
testing.ipynb
run_pipeline_results

# Other
.DS_Store
.env
