# Virtual environments
env/
env3*/
venv/
.venv/
__pypackages__/

# Package distribution and build files
*.egg-info/
dist/
/build/
docs/build
_build
_static
_templates

# IDEs and editors
.vs/
.vscode/
.idea/

# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class
.cache/
.mypy_cache/
.pytest_cache/
/.ruff_cache/


# Test files
*.log
*.csv
testing.py
testing.ipynb
pipeline_results
tests/data/test.*
dataset_params.json
invalid_dataset_params.json

# Other
.DS_Store
.env
